# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/build/fef79700bb299ff80795c77fabc500e6
/build/flutter_assets
/build/c075001b96339384a97db4862b8ab8db.cache.dill.track.dill

#Auto Generated
lib/model/*g.dart
lib/model/*freezed.dart
lib/model/form/*g.dart
lib/model/form/*freezed.dart
lib/guideline/*g.dart
lib/price/*g.dart
lib/question/*g.dart
lib/question/*freezed.dart


# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
